<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtm.party.mobile.dao.UserMapper">
    <insert id="saveRecord" parameterType="com.mtm.party.mobile.model.UserInfo">
        insert into user_record_info(
        user_open_id,
        create_time
        )
        values
        (
        #{userOpenId},
        now()
        )
    </insert>
    <insert id="saveUserInfo" parameterType="com.mtm.party.mobile.model.UserEntity">
        insert into user_info(
        open_id,
        avatar_url,
        nick_name,
        province,
        city,
        create_time,
        update_time
        )
        values
        (
        #{openId},
        #{avatarUrl},
        #{nickName},
        #{province},
        #{city},
        now(),
        now()
        )
    </insert>
    <select id="getUserByOpenId" parameterType="java.lang.String" resultType="com.mtm.party.mobile.model.UserEntity">
        select
         id,
         open_id as openId,
         avatar_url as avatarUrl,
         nick_name as nickName,
         province,
         city,
         create_time as createTime,
         update_time as updateTime
         from user_info  where open_id=#{openId}
    </select>
    <update id="updateUserInfo" parameterType="com.mtm.party.mobile.model.UserEntity">
        update user_info set
        open_id=#{openId},
        avatar_url=#{avatarUrl},
        nick_name=#{nickName},
        province=#{province},
        city=#{city},
        update_time=now()
    </update>
</mapper>